---
import '../styles/global.css'

import Layout from '../layouts/Layout.astro'

/* Initialize Mini Apps */
import MiniAppHeader from '../components/miniapp/Header.vue'
import MiniAppFooter from '../components/miniapp/Footer.vue'
import MiniAppProfile from '../components/miniapp/Profile.vue'

/* Initialize Web Apps */
import WebAppHeader from '../components/webapp/Header.vue'
import WebAppFooter from '../components/webapp/Footer.vue'
import WebAppProfile from '../components/webapp/Profile.vue'

export const prerender = false

/* Initialize constants. */
const hostname = Astro.url?.hostname

/* Initialize globals. */
let isMiniApp = true//false

/* Validate Mini App. */
if (hostname === 'app.miniapps.party') {
	isMiniApp = true
}
---

<Layout>
	<!-- Begin Mini App Main -->
	{isMiniApp && <div class="flex flex-col h-screen justify-between bg-[#21223e]">
		<MiniAppHeader client:load />

		<MiniAppProfile client:load class="flex-1" />

		<MiniAppFooter />
	</div>}
	<!-- End Mini App Main -->

	<!-- Begin Web App Main -->
	{!isMiniApp && <WebAppHeader client:load />

	<WebAppProfile client:load />

	<WebAppFooter />}
</Layout>

<script>
/* Import modules. */
import { sdk } from '@farcaster/frame-sdk'

/* Request Mini App flag. */
// TODO Maybe we set a SESSION flag??
const isMiniApp = await sdk.isInMiniApp()

/* Validate mini app. */
if (isMiniApp) {
	/* Load app. */
	sdk.actions.ready()
}
</script>
