<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Warplet 🎊 Party</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script async defer src="/js/frameInit.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
