---
import '../styles/global.css'

import Layout from '../layouts/Layout.astro'

import WebAppHeader from '../components/webapp/Header.vue'
import WebAppFooter from '../components/webapp/Footer.vue'
---

<Layout>
	<WebAppHeader client:load />

	<main class="px-2 max-w-5xl mx-auto py-24 sm:py-16 flex flex-col gap-6">
		<h1 class="mt-10 text-pretty text-5xl font-semibold tracking-tight text-fuchsia-700 sm:text-7xl">
			Code of Conduct
		</h1>

		<p>
			Our platform is dedicated to providing a safe and respectful environment for all users to engage in discussions, share ideas, and participate in crypto social finance activities.
			This Code of Conduct outlines the expectations for user behavior and interaction on our platform.
		</p>

		<h2>Respect and Inclusivity</h2>

		<ul>
			<li>Treat others with respect, kindness, and dignity, regardless of their background, culture, or opinions.</li>
			<li>Be inclusive and welcoming to all users, including those from diverse racial, ethnic, national, gender, sexual orientation, disability, or socioeconomic backgrounds.</li>
			<li>Refrain from using language or tone that is discriminatory, harassing, or abusive.</li>
		</ul>

		<h2>Community Guidelines</h2>

		<ul>
			<li>Be honest and transparent in your interactions with others.</li>
			<li>Avoid spreading misinformation or false information about cryptocurrencies, financial markets, or other users.</li>
			<li>Do not engage in spamming, self-promotion, or solicitation of any kind.</li>
			<li>"Respect the intellectual property rights of others and do not share copyrighted material without permission."</li>
		</ul>

		<h2>Crypto-Specific Guidelines</h2>

		<ul>
			<li>"Only discuss legitimate cryptocurrency projects and avoid promoting scams or Ponzi schemes."</li>
			<li>"Do not provide unsolicited investment advice or promote specific investments."</li>
			<li>"Be cautious when sharing sensitive information about your own cryptocurrency holdings or transactions."</li>
		</ul>

		<ul>
			<li>"Only discuss legitimate cryptocurrency projects and avoid promoting scams or Ponzi schemes."</li>
			<li>"Do not provide unsolicited investment advice or promote specific investments."</li>
			<li>"Be cautious when sharing sensitive information about your own cryptocurrency holdings or transactions."</li>
		</ul>

		<h2>Reporting Misconduct</h2>

		<p>
			"If you witness or experience any form of misconduct on our platform please report it to our moderators immediately. We take all reports seriously and will take swift action to address any violations of this Code of Conduct."
		</p>

		<h2>
			Consequences of Misconduct
		</h2>

		<ol class="ol">
  			<span >Violations </span>of this Code of Conduct may result in:
   				<ol><span >1. </span>Warning from our moderators
   				<ol><span >2. </span> suspension from the platform
   				<ol><span >3. </span> ban from the platform
   				<ol><span >4. </span> to relevant authorities (in cases of severe misconduct)
   			</span>
		</ol>

		<h2>Amendments</h2>

		<p>
			We reserve the right to update this Code of Conduct at any time without notice. It is your responsibility to review this document regularly to ensure you are aware of any changes.
		</p>

		<p>
			By participating on our platform, you acknowledge that you have read and agree to abide by this Code of Conduct.</h2>
		</p>
	</main>

	<WebAppFooter />
</Layout>
