---
import '../styles/global.css'

import Layout from '../layouts/Layout.astro'

import WebAppHeader from '../components/webapp/Header.vue'
import Hero from '../components/Hero.astro'
import Logos from '../components/Logos.astro'
import Expectation from '../components/Expectation.astro'
import Timeline from '../components/Timeline.astro'
import Highlights from '../components/Highlights.astro'
import Newsletter from '../components/Newsletter.astro'
import Testimonials from '../components/Testimonials.astro'
import Faq from '../components/Faq.astro'
import DreamBig from '../components/DreamBig.astro'
import WebAppFooter from '../components/webapp/Footer.vue'
---

<Layout>
	<div id="party-container" style="display:none" class="bg-white">
		<WebAppHeader client:load />
		<Hero />
		<Logos />
		<Expectation />
		<Timeline />
		<!-- <Highlights /> -->
		<!-- <Newsletter /> -->
		<!-- <Testimonials /> -->
		<Faq />
		<DreamBig />
		<WebAppFooter />
	</div>
</Layout>

<script>
/* Import modules. */
import { sdk } from '@farcaster/frame-sdk'

// import initMiniApp from '../utils/initMiniApp'

/* Request Mini App flag (from framework/context). */
const isMiniApp = await sdk.isInMiniApp()
console.log('IS MINIAPP FLAG (index)', isMiniApp)

/* Validate Mini App. */
if (isMiniApp) {
	/* Load app. */
	await sdk.actions.ready()

	/* Send user to authentication. */
	// document.location = `https://app.miniapps.party${Astro.url?.pathname}`
	document.location = `https://app.miniapps.party/apps`
	// document.location = `/apps`
} else {
	document.getElementById('party-container')!.style.display = 'block'
}
</script>
