---
import '../../styles/global.css'

import Layout from '../../layouts/Layout.astro'

import WebAppHeader from '../../components/WebAppHeader.vue'
import WebAppFooter from '../../components/WebAppFooter.astro'
---

<Layout>
	<WebAppHeader client:load />

	<main class="px-3 max-w-5xl mx-auto py-24 sm:py-16 flex flex-col gap-6">
		<h1 class="mt-10 text-pretty text-5xl font-semibold tracking-tight text-fuchsia-700 sm:text-7xl">
			Season 1 — The Chronicles of Warplet
		</h1>

		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti repudiandae voluptas recusandae, doloremque dignissimos dicta qui quod beatae perferendis, a maxime explicabo tempore optio? Atque reprehenderit voluptas excepturi quia iure?
		</p>
	</main>

	<WebAppFooter />
</Layout>
