---
import '../../styles/global.css'

import Layout from '../../layouts/Layout.astro'

import WebAppHeader from '../../components/webapp/Header.vue'
import WebAppFooter from '../../components/webapp/Footer.vue'
---

<Layout>
	<WebAppHeader client:load />

	<main class="px-2 max-w-5xl mx-auto py-24 sm:py-16 flex flex-col gap-6">

		<h1 class="mt-10 text-pretty text-5xl font-semibold tracking-tight text-fuchsia-700 sm:text-7xl">
			For Sponsors
		</h1>

		<p>
			Stake your precious warplet $TOKENS to the <a href="/transparency" class="text-blue-500 font-medium hover:underline">Mini Apps Party Purse</a>.
			At the end of the Party, Reward Payouts are automatically delivered to the warplets of the Creators and Builders whom participated in
			<span class="font-medium">Season 1 of Building On Farcaster: Mini Apps Party</span>.
		</p>

		<!-- <section>
			<h3>
				IMPORTANT NOTE:
			</h3>

			<p>

				5% of staked assets are non-refundable.
				These funds are considered a Tribute to the Party and are utilized to facilitate event activities for the community.
			</p>
		</section> -->
	</main>

	<WebAppFooter />
</Layout>
