---
import astroLogo from '../assets/astro.svg'
import icon from '../assets/icon.svg'
---

<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <h2 class="mb-10 text-pretty text-5xl sm:text-6xl font-semibold tracking-wider sm:tracking-tighter bg-gradient-to-r from-fuchsia-500 via-orange-500 to-purple-500 bg-clip-text text-transparent">
            Season 1 — The Chronicles of Warplet
        </h2>

        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4">
            <div>
                <time datetime="2021-08" class="flex items-center text-lg/6 font-semibold text-fuchsia-600">
                    <svg viewBox="0 0 4 4" class="mr-4 size-1 flex-none" aria-hidden="true">
                        <circle cx="2" cy="2" r="2" fill="currentColor" />
                    </svg>
                    June 29th - All Day
                    <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
                </time>

                <p class="mt-6 text-2xl/8 font-semibold tracking-tight text-gray-900">
                    Pre-Party
                </p>

                <p class="mt-1 text-base/7 text-gray-600">
                    A showcase of ALL registered projects will be presented to our esteemed Guests in a LIVEstream event from the Mini Apps Party App.
                </p>
            </div>

            <div>
                <time datetime="2021-12" class="flex items-center text-lg/6 font-semibold text-fuchsia-600">
                    <svg viewBox="0 0 4 4" class="mr-4 size-1 flex-none" aria-hidden="true">
                        <circle cx="2" cy="2" r="2" fill="currentColor" />
                    </svg>
                    June 30th @ 00:00
                    <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
                </time>

                <p class="mt-6 text-2xl/8 font-semibold tracking-tight text-gray-900">
                    Party Starts
                </p>

                <p class="mt-1 text-base/7 text-gray-600">
                    Builders can officially begin posting commits to their new/existing repos.
                    FC Leaderboard can begin voting on registered projects.
                </p>
            </div>

            <div>
                <time datetime="2022-02" class="flex items-center text-lg/6 font-semibold text-fuchsia-600">
                    <svg viewBox="0 0 4 4" class="mr-4 size-1 flex-none" aria-hidden="true">
                        <circle cx="2" cy="2" r="2" fill="currentColor" />
                    </svg>
                    July 6th @ 23:59
                    <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
                </time>

                <p class="mt-6 text-2xl/8 font-semibold tracking-tight text-gray-900">
                    Party Ends
                </p>

                <p class="mt-1 text-base/7 text-gray-600">
                    ALL voting officially ends;
                    sponsors can NO longer withdraw their Party Tributes;
                    Reward Payouts begin delivery per on-chain vote tallies.
                </p>
            </div>

            <div>
                <time datetime="2022-12" class="flex items-center text-lg/6 font-semibold text-fuchsia-600">
                    <svg viewBox="0 0 4 4" class="mr-4 size-1 flex-none" aria-hidden="true">
                        <circle cx="2" cy="2" r="2" fill="currentColor" />
                    </svg>
                    July 7th - All Day
                    <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
                </time>

                <p class="mt-6 text-2xl/8 font-semibold tracking-tight text-gray-900">
                    After-Party
                </p>

                <p class="mt-1 text-base/7 text-gray-600">
                    Track Award Bonuses and final point results will be posted online in our official channels;
                    plus all remaining Payouts are delivered.
                </p>
            </div>
        </div>
    </div>
</div>
