---
import '../styles/global.css'

import Layout from '../layouts/Layout.astro'

import WebAppHeader from '../components/webapp/Header.vue'
import WebAppFooter from '../components/webapp/Footer.vue'
---

<Layout>
	<WebAppHeader client:load />

	<main class="px-3 max-w-5xl mx-auto py-24 sm:py-16 flex flex-col gap-6">
		<h1 class="mt-10 text-pretty text-5xl font-semibold tracking-tight text-fuchsia-700 sm:text-7xl">
			Builder API
		</h1>

		<p>
			Access real-time party details, directly from the source.
		</p>

		<a href="/v1" class="text-2xl font-bold text-blue-500 tracking-wider hover:underline">
			Go to OpenAPI (/v1)
		</a>
	</main>

	<WebAppFooter />
</Layout>
