---
export const prerender = false

/* Set Mini App flag to true. */
Astro.cookies.set('isMiniApp', 'TRUE')

// TODO Add additional authentication handling.

---

<h1>
	Please wait...
</h1>

<script>
/* Set constants. */
const AUTH_SET_DELAY = 3000

setTimeout(() => {
	console.info('Now redirecting to Apps...')
	/* Redirect to (default starting page) Apps. */
	document.location = '/apps'
}, AUTH_SET_DELAY)
</script>
