---
import '../styles/global.css'

import Layout from '../layouts/Layout.astro'

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
	<Header />

	<main class="px-3 max-w-5xl mx-auto py-16 flex flex-col gap-6">

		<h1 class="mt-10 text-pretty text-5xl font-semibold tracking-tight text-fuchsia-700 sm:text-7xl">
			For Builders
		</h1>

		<p>
			Track 1: Social and Community
		</p>

		<p>
			Track 2: Gaming and Entertainment
		</p>

		<p>
			Track 3: Utility and Productivity
		</p>

		<p>
			Track 4: Creativity and Self-Expression
		</p>

		<p>
			Track 5: Governance and Finance
		</p>
	</main>

	<Footer />
</Layout>
