---
import '../styles/global.css'

import Layout from '../layouts/Layout.astro'

import Header from '../components/Header.vue'
import Footer from '../components/Footer.astro'
---

<Layout>
	<Header client:load />

	<main class="px-3 max-w-5xl mx-auto py-24 sm:py-16 flex flex-col gap-6">
		<h1 class="mt-10 text-pretty text-5xl font-semibold tracking-tight text-fuchsia-700 sm:text-7xl">
			Privacy
		</h1>

		<p>
			Welcome to Mini Apps Party, a crypto social finance platform designed to facilitate discussions, sharing of ideas, and participation in cryptocurrency-related activities.
			We are committed to protecting your privacy and maintaining the confidentiality of your personal data.
			This Privacy Policy outlines how we collect, use, and protect your personal data.
		</p>

		<h2>Information We Collect</h2>

		<p>We collect the following types of information from you:</p>

		<ul>
			<li><span>Registration Information:</span> When you create an account on our platform, we collect information such as your username, email address, and password.</li>
			<li><span>Profile Information:</span> You may choose to provide additional information such as your name, profile picture, and bio.</li>
			<li><span>Crypto-Related Information:</span> When you participate in crypto-related activities on our platform, we may collect information such as your cryptocurrency wallet addresses and transaction history.</li>
			<li><span>Browsing History:</span> We may collect information about your browsing history on our platform, including the pages you visit and the content you interact with.</li>
			<li><span>Cookies and Tracking Technologies:</span> We use cookies and other tracking technologies to collect information about your device and browser.</li>
		</ul>

		<h2>USE OF INFORMATION</h2>

		<p>We use the information we collect from you for the following purposes:</p>

<!-- <ol class="ol">
  <li><Span>To provide_and_improve_our_services_: </Span>We use your registration information_to_create_and_manage_your_account_,_and_to_provide_you_with_access_to_our_platform_and_services_. </Li >
   <Li >To communicate_with_you_: </Li >
   <Ol >< span >1_.To_send_you_notifications_about_your_account_and_activities_on_our_platform_;
   <OL >< span >2. To send you newsletters_and_other_marketing_materials_;
   <OL >< span >3.To respond_to_your_inquiries_and_support_requests_;
	</span>
</ol> -->


	</main>

	<Footer />
</Layout>
