---
import '../styles/global.css'

import Layout from '../layouts/Layout.astro'

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
	<Header />

	<main class="px-3 max-w-5xl mx-auto py-16 flex flex-col gap-6">
		<h1 class="mt-10 text-pretty text-5xl font-semibold tracking-tight text-fuchsia-700 sm:text-7xl">
			Terms of Service
		</h1>

		<p>
			Welcome to Warplet Party, a crypto social finance platform designed to facilitate discussions, sharing of ideas, and participation in cryptocurrency-related activities.
			By using our platform, you agree to be bound by these Terms of Service ("Terms").
			Please read these Terms carefully before using our platform.
		</p>

		<h2>Acceptance of Terms</h2>

		<p>
			By accessing or using our platform, you acknowledge that you have read, understood, and agree to be bound by these Terms. If you do not agree to these Terms, please do not use our platform.
		</p>

		<h2>Eligibility</h2>

		<p>
			"Our platform is only available to individuals who are at least 18 years old (or the age of majority in your jurisdiction). By using our platform, you represent and warrant that you meet this eligibility requirement."
		</p>

		<h2>User Accounts</h2>

		<p>
			"To use our platform, you must create a user account. You agree to provide accurate and complete information during the registration process and to keep your account information up-to-date. You are responsible for maintaining the confidentiality and security of your account credentials."
		</p>

		<h2>Content Guidelines</h2>

		<ul>
			<li>"You are responsible for all content that you post or upload to our platform."</li>
			<li>"You agree not to post or upload any content that is false, misleading, defamatory, abusive, harassing, or otherwise objectionable."</li>
			<li>"You agree not to post or upload any content that infringes on the intellectual property rights of others or violates any applicable laws or regulations."</li>
		</ul>

		<h2>Crypto-Related Activities</h2>

		<ol class="ol">
  			<span >When participating in crypto-related activities on our platform </span>,you acknowledge and agree that:
   			<ol><span >1. </span>You are solely responsible for your own investment decisions and cryptocurrency transactions.
   			<ol><span >2. </span>We do not provide investment advice or recommendations.
   			<ol><span >3. </span>You understand that cryptocurrency prices can be highly volatile and that trading cryptocurrencies carries significant risks.
   		</ol>

   		<p>
			We reserve the right to modify or discontinue any aspect of our platform at any time without notice. We may also impose limits on certain features or restrict access to parts of our platform.
		</p>

		<p>
			By using our platform_you acknowledge that you have read_and agree_to abide by these_Terms_of_Service_.
		</p>
	</main>

	<Footer />
</Layout>
