---
import '../styles/global.css'

import Layout from '../layouts/Layout.astro'

import MiniAppHeader from '../components/miniapp/Header.vue'
import MiniAppFooter from '../components/miniapp/Footer.vue'
import WebAppHeader from '../components/webapp/Header.vue'
import WebAppFooter from '../components/webapp/Footer.vue'
---

<Layout>
	<!-- Begin MiniApp Main -->
	<div data-miniapp class="flex flex-col h-screen justify-between bg-green-500" style="display:none">
		<MiniAppHeader client:load />

		<main class="px-3 max-w-5xl mx-auto py-24 sm:py-16 flex flex-col gap-6">
			<h1 class="mt-10 text-pretty text-5xl font-semibold tracking-tight text-fuchsia-700 sm:text-7xl">
				Transparency (MINI APP)
			</h1>

			<p>
				Learn about everything going on behind the scenes before, during and after the Mini Apps Party.
			</p>
		</main>

		<MiniAppFooter />
	</div>
	<!-- End MiniApp Main -->

	<!-- Begin WebApp Main -->
	<main data-webapp class="px-3 max-w-5xl mx-auto py-24 sm:py-16 flex flex-col gap-6">
		<WebAppHeader client:load />

		<main class="px-3 max-w-5xl mx-auto py-24 sm:py-16 flex flex-col gap-6">
			<h1 class="mt-10 text-pretty text-5xl font-semibold tracking-tight text-fuchsia-700 sm:text-7xl">
				Transparency
			</h1>

			<p>
				Learn about everything going on behind the scenes before, during and after the Mini Apps Party.
			</p>
		</main>

		<WebAppFooter />
	</main>
	<!-- End WebApp Main -->
</Layout>

<script>
/* Import modules. */
import { sdk } from '@farcaster/frame-sdk'

/* Set constants. */
const PAGE_UPDATE_DELAY = 100

/* Request Mini App flag. */
const isMiniApp = await sdk.isInMiniApp()

/* Initialize headers + footers. */
const miniapp = document.querySelectorAll('[data-miniapp]')
const webapp = document.querySelectorAll('[data-webapp]')

/* Check for Mini App container. */
if (isMiniApp) {
	setTimeout(() => {
		/* Load Mini App UI. */
		miniapp[0].style.display = 'flex'

		/* Hide Web App UI. */
		webapp[0].style.display = 'none'
	}, PAGE_UPDATE_DELAY)
}
</script>

<style>
main::-webkit-scrollbar {
	width: 4px;
	height: 8px;
	background-color: #763a6d;
}
main::-webkit-scrollbar-thumb {
	background: #d922be;
}
</style>
