---
import { $Profile } from '../stores/profile'
console.log('PROFILES', $Profile.get())

/* Build frame embed. */
const frameEmbed = {
    version: 'next',
    imageUrl: 'https://miniapps.party/poster.webp',
    button: {
        title: 'New + Noteworthy Mini Apps',
        action: {
            type: 'launch_frame',
            name: 'Mini Apps Party',
            url: 'https://miniapps.party',
            splashImageUrl: 'https://miniapps.party/splash.gif',
            splashBackgroundColor: '#21223e'
        }
    }
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="fc:frame" content={JSON.stringify(frameEmbed)} />

		<title>Mini Apps Party</title>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class="bg-[#21223e] w-screen h-screen">
		<slot />
		<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
	</body>
</html>
