---
import '../../styles/global.css'

import Layout from '../../layouts/Layout.astro'

import WebAppHeader from '../../components/webapp/Header.vue'
import WebAppFooter from '../../components/webapp/Footer.vue'
---

<Layout>
	<WebAppHeader client:load />

	<main class="px-2 max-w-5xl mx-auto py-24 sm:py-16 flex flex-col gap-6">
		<h1 class="mt-10 text-pretty text-5xl font-semibold tracking-tight text-fuchsia-700 sm:text-7xl">
			For Builders
		</h1>

		<section>
			<h2 class="text-2xl font-medium tracking-wider">
				Track 1: Social and Community
			</h2>

			<ul class="pl-10 list-disc leading-7">
				<li>Build frames that foster community engagement and social interaction.</li>
				<li>Explore token-based incentives for contributing to the community.</li>
				<li>Create tools for charitable giving and social good.</li>
			</ul>
		</section>

		<section>
			<h2 class="text-2xl font-medium tracking-wider">
				Track 2: Gaming and Entertainment
			</h2>

			<ul class="pl-10 list-disc leading-7">
				<li>Develop engaging games that leverage Farcaster's unique features.</li>
				<li>Experiment with on-chain gaming mechanics and token economies.</li>
				<li>Create immersive experiences that showcase the potential of blockchain gaming.</li>
			</ul>
		</section>

		<section>
			<h2 class="text-2xl font-medium tracking-wider">
				Track 3: Utility and Productivity
			</h2>

			<ul class="pl-10 list-disc leading-7">
				<li>Build frames that simplify complex tasks or provide useful tools.</li>
				<li>Integrate external services or APIs to enhance the user experience.</li>
				<li>Focus on creating practical solutions that demonstrate the value of blockchain technology.</li>
			</ul>
		</section>

		<section>
			<h2 class="text-2xl font-medium tracking-wider">
				Track 4: Creativity and Self-Expression
			</h2>

			<ul class="pl-10 list-disc leading-7">
				<li>Encourage creativity and self-expression through interactive frames.</li>
				<li>Explore new formats for artistic collaboration and curation.</li>
				<li>Develop innovative ways to showcase user-generated content.</li>
			</ul>
		</section>

		<section>
			<h2 class="text-2xl font-medium tracking-wider">
				Track 5: Governance and Finance
			</h2>

			<ul class="pl-10 list-disc leading-7">
				<li>Develop frames that facilitate decentralized governance and decision-making.</li>
				<li>Experiment with token distribution and airdrops as incentives for participation.</li>
				<li>Build tools for financial inclusion and access to blockchain-based financial services.</li>
			</ul>
		</section>
	</main>

	<WebAppFooter />
</Layout>
